doctype html
html
  head
    link(rel='stylesheet', href='/lib/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/css/font-awesome.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    header(class='navbar navbar-fixed-top navbar-default')
      div(class='container')
        div(class='navbar-header')
          a(class='navbar-brand', href='/') Simple RTC
    .content
      block content

